apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-service
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:
      containers:
        - name: airflow
          image: {{ .Values.airflow.image }}
          ports:
            - containerPort: 8080
          env:
            - name: AIRFLOW__CORE__LOAD_EXAMPLES
              value: "False"
            - name: AIRFLOW__CORE__EXECUTOR
              value: "SequentialExecutor"
            - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
              value: "sqlite:////opt/airflow/airflow.db"
            - name: AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE
              value: "America/Chicago"
          volumeMounts:
            - name: dags
              mountPath: /opt/airflow/dags
      volumes:
        - name: dags
          configMap:
            name: airflow-dags
