apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-service
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:
      containers:
        - name: airflow
          image: {{ .Values.airflow.image }}
          ports:
            - containerPort: 8080
          env:
            {{- range .Values.airflow.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
          command:
            - /bin/bash
            - -c
            - |
              echo "Initializing Airflow DB (Postgres)..." && \
              airflow db migrate && \
              echo "Creating admin user (ignore if exists)..." && \
              airflow users create -u admin -p admin -f Air -l Flow -r Admin -e admin@example.com || true && \
              echo "Starting Airflow webserver on port 8080..." && \
              airflow webserver -p 8080 -D && \
              echo "Starting Airflow scheduler..." && \
              exec airflow scheduler
      restartPolicy: Always


          # (Optional) Uncomment if you want to mount DAGs later from ConfigMap
          # volumeMounts:
          #   - name: dags
          #     mountPath: /opt/airflow/dags

      # (Optional) ConfigMap for DAGs
      # volumes:
      #   - name: dags
      #     configMap:
      #       name: airflow-dags
