namespace: healthcare

global:
  db:
    host: postgres-service
    user: healthcare_admin
    password: healthcareadmin123
    name: healthcare
  redisHost: redis-service-master
  rabbitHost: rabbitmq-service
  jwtSecret: xyz
  jwtAlgorithm: HS256

# ---------------- BACKEND ----------------
backend:
  image: "us-central1-docker.pkg.dev/healthcare-platform-477020/healthcare-repo/backend:latest"
  replicas: 2
  port: 8000
  service:
    type: ClusterIP

# ---------------- AUTH SERVICE ----------------
auth:
  image: "us-central1-docker.pkg.dev/healthcare-platform-477020/healthcare-repo/auth:latest"
  replicas: 2
  port: 8001
  service:
    type: ClusterIP

# ---------------- CONSUMER WORKER ----------------
consumer:
  image: "us-central1-docker.pkg.dev/healthcare-platform-477020/healthcare-repo/backend:latest"
  replicas: 1

# ---------------- FRONTEND ----------------
frontend:
  image: "us-central1-docker.pkg.dev/healthcare-platform-477020/healthcare-repo/frontend:latest"
  replicas: 2
  port: 80
  service:
    type: LoadBalancer
  ingress:
    enabled: false

# ---------------- AIRFLOW ----------------
airflow:
  image: "us-central1-docker.pkg.dev/healthcare-platform-477020/healthcare-repo/airflow:latest"
  service:
    type: LoadBalancer
  env:
    - name: AIRFLOW__CORE__EXECUTOR
      value: "LocalExecutor"
    - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
      value: "postgresql+psycopg2://healthcare_admin:healthcareadmin123@postgres-service:5432/airflow_db"
    - name: AIRFLOW__CORE__FERNET_KEY
      value: "a_random_generated_key_32_chars"   # e.g. "uJZkHqL2Evs91oU8FdWch3xjXKBoJd7g"
    - name: AIRFLOW__CORE__LOAD_EXAMPLES
      value: "False"
    - name: AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE
      value: "America/Chicago"
